.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%238d725c' fill-opacity='0.03'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  z-index: 9;
  background-color: transparent;
  backdrop-filter: blur(8px);
  height: 12vh;

  .n-container {
    color: $gray-100;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .n-left {
      a {
        display: flex;
        align-items: center;
        font-size: $font-size * 1.5;
        padding: $padding * 0.75 $padding * 1.5;
        font-weight: 500;
        transition: 0.3s ease-in-out;

        .n-title {
          margin-left: $margin * 0.5;
        }
      }
    }

    .n-right {
      ul {
        display: flex;

        li {
          margin: 0 $margin * 0.5;
          a {
            padding: $padding * 0.75 $padding * 1.5;
            font-size: $font-size * 0.75;
            font-weight: 600;
            font-family: 'Italiana';
            letter-spacing: 1px;
          }
        }

        @include xs {
          display: none;
        }
        @include sm {
          display: flex;
        }
      }

      .menu-svg {
        padding: $padding $padding * 1.25;
        border-radius: 50%;
        @include sm {
          display: none;
        }
      }
      .mobile-menu {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: $bg-color;
        margin-top: 10vh;

        ul {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding: $padding 0;

          li {
            height: 100%;
            padding: 0;
            margin-bottom: $margin;
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: $font-size * 2;
            }
          }
        }

        .mobile-contact {
          padding: $padding * 0.75 $padding * 1.5;
          display: flex;
          flex-direction: column;

          span {
            margin-bottom: $margin;
            color: $gray-200;
            color: $primary-light;
          }
          #mail {
            font-size: $font-size * 1.25;
            color: $gray-100;
          }
        }

        @include sm {
          display: none;
        }
      }
    }
  }
}
