.welcomer-container {
  width: 100%;
  height: 120vh;
  position: relative;
  .img-backdrop {
    position: absolute;
    width: 100%;
    height: 200vh;
    background-color: $bg-color;
    z-index: 8;
  }

  .img-container {
    width: 100%;
    height: 120vh;
    position: relative;
    z-index: 6;
    overflow: hidden;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }

    #img-welcomer {
      width: 100%;
    }
    #mountain {
      top: 0;
      right: 0;
    }
    #men {
      z-index: 5;
    }
  }

  .text {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    z-index: 7;
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #fff;

    .container-lg {
      height: 100%;
    }

    &__mid {
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border: 2px solid yellow;
    }
    &__title {
      font-size: $font-size * 5;
      font-family: 'Bodoni Moda', serif;
      letter-spacing: 20px;
      font-style: italic;
      font-size: 4;
    }
    &__bottom {
      border: 2px solid yellow;
      width: 100%;
      height: 40%;
      display: flex;
      justify-content: space-between;
    }
    &__desc {
      border: 2px solid cyan;
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      float: left;
      padding: $padding * 0.5;
    }
    &__span {
      border: 1px solid red;
      float: left;
      font-size: $font-size * 4;
      font-family: 'Bodoni Moda', serif;
      font-weight: 400;
      color: $gray-200;

      &--active {
        color: $gray-100;
        font-size: $font-size * 4.5;
      }
    }
    &__list {
      border: 2px solid cyan;
      display: flex;
      flex: 1;
      padding: $padding;
      justify-content: flex-end;
      align-items: flex-end;
    }
    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__link {
      border: 2px solid rgba($color: $gray-200, $alpha: 0.01);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: $padding * 0.75;
      margin-left: $margin;
      border-radius: 100%;
      transition: 0.2s ease-in-out;
      color: $gray-100;

      &:hover {
        border: 2px solid rgba($color: $gray-100, $alpha: 1);
        background-color: $gray-100;
        color: $gray-600;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
    }
  }
}
