$bg-color: #222;
$primary: #8d725c;
$primary-light: #a58a73;

$padding: 1rem;
$font-size: 1rem;
$margin: 1rem;
$radius: 1rem;

$gray-100: #f3f4f8;
$gray-200: #d2d4da;
$gray-300: #b3b5bd;
$gray-400: #9496a1;
$gray-500: #777986;
$gray-600: #5b5b6d;
$gray-700: #404252;
$gray-800: #282a3a;
$gray-900: #101223;
